.Contact {
  @include size(100%, 100%);
  @include flex(column, center, center);
  min-width: 100%;
  animation: slideInUp 0.3s ease;

  form {
    @include flex(column, center, center);

    input,
    textarea {
      margin: 0.2em;
      border: none;
      border-radius: 2px;

      &:focus {
        outline: 0;
      }
    }

    input {
      @include size(50vw, 60px);
      color: $primary-blue;
      font-size: 2em;

      ::-webkit-input-placeholder {
        color: ligthen($primary-black, 25%);
        font-size: 1.2em;
        line-height: 60px;
      }
    }

    textarea {
      @include size(50vw, 200px);
      color: $primary-blue;
      font-size: 1.2em;
      resize: none;
      overflow-y: auto;
    }

    textarea::placeholder {
      font-size: 1.4em;
    }

    button {
      @include size(51vw, 2.5em);
      background-color: transparent;
      border: 1px dashed rgba(51, 51, 51, 0.3);
      color: lighten($primary-black, 30%);
      font-size: 1.2em;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.4s ease-out;

      &:hover {
        border: 1px dashed rgba(51, 51, 51, 0);
        color: lighten($primary-black, 25%);
        background: rgba(135, 206, 235, 0.4);
      }
    }

    @media screen and (max-width: 720px) {
      input {
        @include size(80vw, 60px);
      }

      textarea {
        @include size(80vw, 200px);
      }

      button {
        @include size(81vw, 2.5em);

        &:active {
          background: rgba(135, 206, 235, 0.4);
          color: lighten($primary-black, 25%);
          border: 1px dashed rgba(51, 51, 51, 0);
          outline: 0;
        }
      }
    }
  }
}
