/* Home */
.Home {
  flex: 1;
  animation: fadeIn 0.5s ease-in;

  .Home__more-info {
    width: 100%;
    text-align: center;
  }
}

h1 {
  font-family: 'Work Sans';
  font-weight: 100;
  font-size: 4em;
  color: lighten($primary-black, 20%);
  text-align: center;
  text-transform: uppercase;
}
