.Info {
  @include flex(column, center, center);
  @include size(100vw, 100%);
  animation: fade-in 0.5s ease-in;

  .Info__info-container {
    @include flex(column, center, center);
    min-height: 100vh;
    width: 40vw;
  }

  .Info__welcome {
    height: 100%;
  }

  h1 {
    color: lighten($primary-black, 50%);
    font-family: 'Work Sans';
    font-size: 5em;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0.1em;
    text-transform: uppercase;
  }

  a {
    color: darken($primary-blue, 10%);
    transition: color 0.3s ease-out;

    &:focus,
    &:hover {
      color: darken($primary-blue, 20%);
    }
  }

  ul {
    @include flex(column, center, center);
    width: 100%;
    list-style: none;

    li {
      width: 100%;
      background-color: $primary-blue;
      padding: 0.5em;
      margin: 0.3em 0;
      text-align: left;
      cursor: default;
      transition: background-color 0.3s ease-out;

      &:hover {
        background-color: darken($primary-blue, 10%);
      }
    }
  }

  .Info__try-it {
    height: 100%;
  }

  @media screen and (max-width: 720px) {
    .Info__info-container {
      min-height: 100%;
      width: 80vw;
    }
  }
}

.Info__instructions {
  padding: 0;
  list-style: none;
}
