/* Search Results */

.live-results {
  position: relative;
  min-height: 4em;
  margin-top: 1.6em;
  padding: 0.5em 0;
  border-top: 1px solid $results-divider;
  animation: fade-in 0.2s ease-in;
}

.live-results > ul {
  @include flex(column, center, center);
  flex-flow: row wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.live-results ul li:not(:last-child) {
  margin-right: 0.5em;
}

.live-results__results-tag {
  margin: 0;
  margin-bottom: 0.5em;
  background-color: rgba(135, 206, 235, 0.75);
  color: $primary-black;
  font-size: 0.8em;
  font-weight: 300;
  padding: 0.5em 1em;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: transparent;
    color: $primary-black;
    cursor: pointer;
    border: 2px solid rgba(255, 105, 180, 0.5);
  }
}

.live-results__small-heading {
  position: absolute;
  top: -1.6em;
  margin: 0;
  text-align: center;
  font-size: 0.85em;
  font-weight: 300;
  color: lighten($primary-black, 45%);
  opacity: 0.8em;
}
