@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import 'utility';
@import './styles/animations';
@import './styles/artist-card';
@import './styles/contact';
@import './styles/home';
@import './styles/logo';
@import './styles/nav-menu';
@import './styles/playlist';
@import './styles/search';
@import './styles/search-results';

html,
body,
#root {
  width: 100vw;
  min-height: 100%;
  margin: 0;
}

body {
  width: 100vw;
  background:
    url(./splash-bg.jpg),
    linear-gradient(
      135deg,
      lighten(rgb(228, 187, 223), 7%),
      rgb(228, 223, 252)
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: screen;
  margin: 0;
  font-family: '$primary-font', sans-serif;
  font-size: 16px;
  font-weight: 300;
  overflow-x: hidden;
}

.app {
  @include flex(column, space-between, center);
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 5em;
}

main {
  @include size(100vw, 100%);
  @include flex(column, center, center);
  flex: 1;
  padding-top: 2em;

  a {
    text-decoration: none;
  }
}

/* Footer */
footer {
  @include flex(row, center, flex-end);
  @include size(100%, 8vh);
  margin-bottom: 0.3em;
  font-size: 0.7em;
}
